.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;


}
.login__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
 
}
.register__inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}